*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 3em;
}

.hero{
    width: 60%;
    margin: 0 auto;

}

.hero__picture{
    width: 100%;
    border-radius: 10px;
    padding: 2em;
    background: #800080; 
    background: -webkit-linear-gradient(to right, #800080, #ffc0cb); 
    background: linear-gradient(to right, #800080, #ffc0cb); 
    z-index: 10;
    position: relative;

    
}

.hero__image{
    width: 55%;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: -3px 0px 139px 29px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 0px 139px 29px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 0px 139px 29px rgba(0,0,0,0.75);
}

.hero__text{
    box-shadow: -3px 0px 139px 29px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 0px 139px 29px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 0px 139px 29px rgba(0,0,0,0.75);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    gap: 1.5em;
    position: relative;
    top:-312px;
    transition: 1s;
    z-index: 1;
    border-radius: 10px;
}



.hero__icon{
    width: 25%;
    color: #800080;
    
}

.hero:hover div:nth-child(2){
    cursor: pointer;
    top: 0px;
    
}